<h1> Calculate the square root of a number </h1>

<form action="/payment/results">
  <label for="user_APR">APR</label>
  <input type="text" name="user_APR" id="user_APR">
  
  <label for="user_years">Number of years</label>
  <input type="text" name="user_years" id="user_years">

  <label for="user_principal">Principal</label>
  <input type="text" name="user_principal" id="user_principal">

  <button>Calculate monthly payment</button>
</form>
