<form action="/random/results">
  <label for="user_minimum">Minimum</label>
  <input type="text" name="user_minimum" id="user_minimum">
  
  <label for="user_maximum">Maximum</label>
  <input type="text" name="user_maximum" id="user_maximum">

  <button>Pick random number</button>
</form>
