<h1> Calculate the square of a number </h1>

<form action="/square/results">
  <label for="users_number">Enter a number</label>

  <input type="text" name="users_number" id="users_number" placeholder="What number do you want">

  <button>Calculate square</button>
</form>
